<div class="body">
    <div class="heading">
        <h5>Logout</h5>
        <img width="20" height="20" src="https://img.icons8.com/pastel-glyph/20/logout-rounded.png"
            alt="logout-rounded" />
    </div>

    <div class="user">
        <img width="150" height="150" src="https://img.icons8.com/bubbles/150/user.png" alt="user"/>
        <img class="add
        " width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/add--v1.png" alt="add--v1"/>
    </div>
    <div class="name">
        <h4>Suraj Mondal</h4>
        <h6>UI Developer</h6>
    </div>

    <div class="lan">
        <div class="logo">
            <h4>B2</h4>
        </div>
        <div>
            <h6>English</h6>
            <h6>High intermediate</h6>
        </div>
        <div class="progres">
            <div class="progress-bar">
                <div data-size="80" class="progress"></div>
            </div>
        </div>
    </div>
    <div class="lan">
        <div class="logo">
            <h4>C1</h4>
        </div>
        <div>
            <h6>English</h6>
            <h6>High intermediate</h6>
        </div>
        <div class="progres">
            <div class="progress-bar">
                <div data-size="60" class="progress"></div>
            </div>
        </div>
    </div>

    <div class="heading">
        <h5>Reminders</h5>
        <img width="20" height="20" src="https://img.icons8.com/cotton/20/checklist--v2.png" alt="checklist--v2"/>
    </div>

    <div class="rem">
        <div class="logo">
            <h4>C1</h4>
        </div>
        <div>
            <h6>English</h6>
            <h6>High intermediate</h6>
        </div>
       
    </div>

    <div class="rem">
        <div class="logo">
            <h4>C1</h4>
        </div>
        <div>
            <h6>English</h6>
            <h6>High intermediate</h6>
        </div>
        
    </div>
</div>