<div class="sidebar">
    <div class="logo">
        <img width="80" height="80" src="https://img.icons8.com/color/80/disney-logo.png" alt="disney-logo" (click)="on=!on">
        <img width="30" height="30" src="https://img.icons8.com/sf-black-filled/30/x.png" alt="x" (click)="on=false">
    </div>
    <a href="#"><img width="40" height="40" src="https://img.icons8.com/pulsar-line/40/about.png" alt="about"/>About</a>
    <a href="#"><img width="40" height="40" src="https://img.icons8.com/pulsar-line/40/service.png" alt="service"/>Services</a>
    <a href="#"><img width="40" height="40" src="https://img.icons8.com/sf-regular-filled/40/group-foreground-selected.png" alt="group-foreground-selected"/>Clients</a>
    <a href="#"><img width="40" height="40" src="https://img.icons8.com/puffy-filled/40/user.png" alt="user"/>Contact</a>

    <div class="card">
        <img width="80" height="80" src="https://img.icons8.com/external-icongeek26-outline-gradient-icongeek26/80/external-file-documents-icongeek26-outline-gradient-icongeek26-1.png" alt="external-file-documents-icongeek26-outline-gradient-icongeek26-1"/>
        <p>Upgrade to <span style="font-weight: 900;">PRO</span> for more resources</p>
        <button>Upgrade</button>
    </div>
</div>

